{{#author}}
  <header class="u-ta--center">

    {{#if image}}
      <img src="{{image}}" alt="{{name}}'s Picture" class="c-img-circle c-img--120"/>
      <div class="o-sp--small"></div>
    {{/if}}

    <h2 class="c-heading-section">{{ name }}</h2>

    {{#if bio}}
      <h4 class="c-heading-sub u-text-weight-thin">{{bio}}</h4>
    {{/if}}

    <div class="o-sp--unit"></div>

        <ul class="o-list-inline o-list-flush-left u-text-mid-grey">
      {{#if location}}
        <li class="o-list-inline__item">
          <i class="fa fa-map-marker"></i>{{location}}
        </li>
      {{/if}}

      {{#if website}}
        <li class="o-list-inline__item">
          <a href="{{website}}" class="u-text-mid-grey">{{website}}</a>
        </li>
      {{/if}}

      <li class="o-list-inline__item">
        <i class="fa fa-bar-chart"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
      </li>
    </ul>



    <div class="o-sp--unit"></div>
  </header>

  {{> divider}}

{{/author}}
