<footer class="footer">
  <div class="grid__wrap">
    <div class="grid">
      <div class="footer__list-block grid__col grid__col--1-of-5 grid__col--push-1-of-5">
        <h5 class="footer__list-heading u-text-yellow">About</h5>
        <ul class="footer__list o-list-flush-left">
          <li><a href="https://repositive.io/about"  class="footer__list-item u-text-white">Mission</a></li>
          <li><a href="https://repositive.io/team"   class="footer__list-item u-text-white">Team</a></li>
          <li><a href="https://repositive.io/jobs"   class="footer__list-item u-text-white">Jobs</a></li>
          <li><a href="https://repositive.io/press"  class="footer__list-item u-text-white">Press</a></li>
          <li><a href="{{ @blog.url }}"              class="footer__list-item u-text-white">Blog</a></li>
        </ul>
      </div>

      <div class="footer__list-block grid__col grid__col--1-of-5">
        <h5 class="footer__list-heading u-text-teal">Products</h5>
        <ul class="footer__list o-list-flush-left">
          <li><a href="https://repositive.io/product"  class="footer__list-item u-text-white">Data Platform</a></li>
          <li><a href="https://repositive.io/pdx"      class="footer__list-item u-text-white">PDX Resource</a></li>
          <li><a href="https://repositive.io/services" class="footer__list-item u-text-white">Data Services</a></li>
          <li><a href="https://repositive.io/faqs"     class="footer__list-item u-text-white">FAQs</a></li>
        </ul>
      </div>

      <div class="footer__list-block grid__col grid__col--2-of-5">
        <h5 class="footer__list-heading u-text-red">Contact</h5>
        <ul class="footer__list o-list-flush-left">
          <li class="footer__list-item u-text-white">+44 (0) 1223 781 455</li>
          <li><a href="mailto:info@repositive.io" target="_top" class="footer__list-item u-text-white">info@repositive.io</a></li>
          <li><a href="https://www.google.co.uk/maps/place/Future+Business+Centre+Cambridge/@52.234739,0.129423,17z/data=!3m1!4b1!4m2!3m1!1s0x47d8711d9e5ce433:0x98170f289452196e" target="_blank" class="footer__list-item u-text-white">
              <br>Future Business Centre,<br>
              King's Hedges Road,<br>
              Cambridge, CB4 2HY
          </a></li>
        </ul>
      </div>

      <div class="grid__col grid__col--3-of-3">
        <div class="c-divider-dark-bg"></div>
      </div>

      <section class="grid__col grid__col--3-of-3 u-ta--center">
        <h5 class="footer__list-heading u-text-white">Stay Connected</h5>
        <ul class="footer__social-icon-list o-list-inline o-list-flush-left">
          <li class="o-list-inline__item">
            <a href="https://www.facebook.com/repositive.io/" target="_blank" class="c-social-media-icon">
              <img src="{{asset 'images/icons/social/facebook.png'}}" alt="Repositive on Facebook">
            </a>
          </li>
          <li class="o-list-inline__item">
            <a href="http://twitter.com/repositiveio" target="_blank" class="c-social-media-icon">
              <img src="{{asset 'images/icons/social/twitter.png'}}" alt="Repositive on Twitter">
            </a>
          </li>
          <li class="o-list-inline__item">
            <a href="https://www.instagram.com/repositiveio/" target="_blank" class="c-social-media-icon">
              <img src="{{asset 'images/icons/social/instagram.png'}}" alt="Repositive on Instagram">
            </a>
          </li>
          <li class="o-list-inline__item">
            <a href="https://www.linkedin.com/company/repositive" target="_blank" class="c-social-media-icon">
              <img src="{{asset 'images/icons/social/linkedin.png'}}" alt="Repositive on LinkedIn">
            </a>
          </li>
          <li class="o-list-inline__item">
            <a href="https://www.youtube.com/channel/UCpcGDoCB05dJYLxkU2r_hKA" target="_blank" class="c-social-media-icon">
              <img src="{{asset 'images/icons/social/youtube.png'}}" alt="Repositive on Youtube">
            </a>
          </li>
          <li class="o-list-inline__item">
            <a href="https://plus.google.com/108134180119859663187/posts" target="_blank" class="c-social-media-icon">
              <img src="{{asset 'images/icons/social/google-plus.png'}}" alt="Repositive on Google+">
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>
