<header class="liz-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}};">
  <div role='banner' class="container main-container center-align">

    <!-- <h1 class="blogtitle-liz">
      <a title="{{@blog.title}}" href='{{@blog.url}}'>
        {{{@blog.title}}}
      </a>
    </h1> -->

    <h2 class="white-text intro-text col m10 offset-m1">
      {{@blog.description}}
    </h2>

  </div>
</header>
