<div role='banner' class="header-liz">

  <!-- {{#if @blog.logo}}<a class="logo-liz" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}} -->

  <h1 class="blogtitle-liz">
    <a title="{{@blog.title}}" href='{{@blog.url}}'>
      {{{@blog.title}}}
    </a>
  </h1>

  <p class="blogdescription-liz">
    <a title="{{@blog.title}}" href='{{@blog.url}}'>
      {{@blog.description}}
    </a>
  </p>

</div>
