<section class="c-meta c-meta__dividers c-body-small">

  <span class="c-meta__item">
    {{#author}}
      <a href="{{ url }}" class="u-text-light-grey">
        {{#if image}}
          <img class="c-img-circle c-img--unit" src="{{ image }}" alt="{{ name }}" nopin="nopin" />
        {{else}}
          <i class="fa fa-user"></i>
        {{/if}}

        {{ name }}
      </a>
    {{/author}}
  </span>

  <span class="c-meta__item">
    <i class="fa fa-calendar"></i><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"> {{date format="DD MMMM YYYY"}}</time>
  </span>

  <span class="c-meta__item">
    {{#if tags}}
      <i class="fa fa-tag"></i>

      {{tags separator=", "}}

    {{/if}}
  </span>
</section>
