<section class="post-meta">
  <ul>
    <li>
      {{#author}}
        {{#if image}}
          <img class="author-thumb" src="{{image}}" alt="{{name}}" nopin="nopin" />
        {{else}}
          <i class="fa fa-user"></i>
        {{/if}}
        <a href="{{url}}">{{name}}</a>
      {{/author}}
    </li>
    <li>
      <time class="post-date fa fa-calendar" datetime="{{date format='YYYY-MM-DD'}}"> {{date format="DD MMMM YYYY"}}</time>
    </li>
    <li>
      {{#if tags}}
        <div class="posttags">
          <i class="fa fa-tag"></i> {{tags separator=" | "}}
        </div>
      {{/if}}
    </li>
  </ul>
</section>
