<div class="row">
  <div class="col m6">
    <h4>Share this post</h4>
  </div>

  <div class="col m6">
    <a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <img class="share-img" src="https://s3-us-west-2.amazonaws.com/repositive-email-assets/twitter-green.png">
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <img class="share-img" src="https://s3-us-west-2.amazonaws.com/repositive-email-assets/facebook-green.png">
    </a>
    <a href="https://plus.google.com/share?url={{url absolute="true"}}"
       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
       <img class="share-img" src="https://s3-us-west-2.amazonaws.com/repositive-email-assets/google-plus-icon-logo+%2B+Oval+7+Copy.png">
    </a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}"
        onclick="window.open(this.href, 'linkedin-share', 'width=590,height=420');return false;">
      <img class="share-img" src="https://s3-us-west-2.amazonaws.com/repositive-email-assets/linkedin-green.png">
    </a>
  </div>

</div>
