<ul class="c-post-meta o-list-inline u-ta--left u-ta--lg-center">
  <li class="c-post-meta__item o-list-inline__item">
    <a href="{{ @blog.url }}/tag/press-release">
      <i class="fa fa-tag"></i><span>Press Releases</span>
    </a>
  </li>
  <li class="c-post-meta__item o-list-inline__item">
    <a href="{{ @blog.url }}/tag/events">
      <i class="fa fa-tag"></i><span>Events</span>
    </a>
  </li>
  <li class="c-post-meta__item o-list-inline__item">
    <a href="{{ @blog.url }}/tag/data-access">
      <i class="fa fa-tag"></i><span>Data Access</span>
    </a>
  </li>
  <li class="c-post-meta__item o-list-inline__item">
    <a href="{{ @blog.url }}/tag/data-sharing">
      <i class="fa fa-tag"></i><span>Data Sharing</span>
    </a>
  </li>
  <li class="c-post-meta__item o-list-inline__item">
    <a href="{{ @blog.url }}/tag/repository">
      <i class="fa fa-tag"></i><span>Repositories</span>
    </a>
  </li>
  <li class="c-post-meta__item o-list-inline__item">
    <a href="{{ @blog.url }}/tag/workshop">
      <i class="fa fa-tag"></i><span>Workshop</span>
    </a>
  </li>
</ul>
