{{!< default}}

{{> header}}

<div class="grid__wrap">
  <div class="grid">

    <section>
      {{> tag-nav }}
    </section>

    {{> divider }}

    {{#foreach posts}}
      <article class="grid__col grid__col--3-of-3" role="article" itemscope itemtype="http://schema.org/Article">

        <a href="{{{url}}}" rel="bookmark">
          <h2 class="post-title c-heading-section u-text-dark-grey" itemprop="headline">
            {{title}}
          </h2>
        </a>

        <section class="excerpt-liz">
          <p>{{excerpt words="45"}} <a class="read-more" href="{{url}}">...</a></p>
        </section>

        {{> post-meta}}
        <div class="o-sp--unit"></div>
      </article>

      {{> divider}}

    {{/foreach}}

    {{#if pagination}}
      <div class="pagination-liz">
        {{{pagination}}}
      </div>
    {{/if}}

  </div>
</div>
