{{!< default}}

{{> nav}}

{{> header}}

<main class="liz-wrapper" role="main">

  {{#foreach posts}}

    <article class="article-liz" role="article" itemscope itemtype="http://schema.org/Article">

      <header class="post-header">
        <h1 class="post-title" itemprop="headline"><a href="{{{url}}}" rel="bookmark">
          {{title}}
        </a></h1>
        <section class="post-meta">
          <time class="post-date fa fa-calendar" datetime="{{date format='YYYY-MM-DD'}}"> {{date format="DD MMMM YYYY"}}</time>
          {{#if tags}}
            <div class="posttags-liz">
              <i class="fa fa-tag"></i> {{tags separator=" | "}}
            </div>
          {{/if}}
        </section>
      </header>

      <section class="excerpt-liz">
          <p>{{excerpt words="38"}} <a class="read-more" href="{{url}}">...</a></p>
      </section>
    </article>

    <hr class="red">

  {{/foreach}}


  {{#if pagination}}
    <div class="pagination-liz">
      {{{pagination}}}
    </div>
  {{/if}}

</main>

{{> footer}}
