{{!< default}}

{{> nav}}

{{> header}}

<main class="liz-wrapper" role="main">

  {{#foreach posts}}

    <article class="article-liz" role="article" itemscope itemtype="http://schema.org/Article">

      <header class="post-header">
        <h2 class="post-title" itemprop="headline"><a href="{{{url}}}" rel="bookmark">
          {{title}}
        </a></h2>

        <section class="excerpt-liz">
            <p>{{excerpt words="45"}} <a class="read-more" href="{{url}}">...</a></p>
        </section>

        {{> post-meta}}

      </header>


    </article>

    <div class="divider"></div>

  {{/foreach}}


  {{#if pagination}}
    <div class="pagination-liz">
      {{{pagination}}}
    </div>
  {{/if}}

</main>

{{> footer}}
