{{!< default}}

{{#post}}

{{> nav}}

{{#if image}}
  <header class="liz-header {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}};"></header>
{{/if}}

<main class="liz-wrapper" role="main">

  <article class="{{post_class}}">

      <header class="post-header">
        <h1 class="post-title centre">{{title}}</h1>
        <section class="post-meta">
          {{> post-meta}}
        </section>
      </header>

      <section class="post-content">
          {{content}}
      </section>

      <div class="divider"></div>

      <section class="share">
        {{> share}}
      </section>

      <div class="divider"></div>

      <section class="disqus">
        <h4>Leave a comment</h4>
        {{> disqus}}
      </section>

      <div class="divider"></div>

      {{#author}}
        <section class="author center">
            {{#if image}}
                <a href="{{url}}"><img class="author-post-img" src="{{image}}"></a>
            {{/if}}
            <h3 class="author-title">Read more posts by <a href="{{url}}">{{name}}</a></h3>
            {{#if bio}}
              <h4 class="author-bio">{{bio}}</h4>
            {{/if}}
            <div class="author-meta">
              {{#if location}}<span class="author-location fa fa-map-marker"> {{location}}</span>{{/if}}
              {{#if website}}<a href="{{website}}"><span class="author-link fa fa-link"> {{website}}</span></a>{{/if}}
            </div>
        </section>
      {{/author}}

</main>

{{/post}}

{{> footer}}
