{{!< default}}

{{#post}}

  <div class="grid__wrap">
    <div class="grid">
      <div class="grid__col grid__col--2-of-3 grid__col--centered">

        <article>
          <header>
            <h1 class="c-heading-section">{{title}}</h1>
            {{> post-meta}}
            <div class="o-sp--unit"></div>
          </header>

          <section class="c-post-content">
            {{ content }}
          </section>

          {{> divider}}

          <section class="share">
            {{> post-share}}
          </section>

          <section class="disqus">
            {{> disqus}}
          </section>

          {{#author}}
            <section class="u-ta--center">
              <div class="o-sp--unit"></div>
              <a href="{{url}}">
                {{#if image}}
                  <img class="c-img-circle c-img--120" src="{{image}}">
                  <div class="o-sp--small"></div>
                {{/if}}
                <h3 class="u-text-mid-grey u-text-weight-thin">Read more posts by {{name}}</h3>
              </a>
            </section>
          {{/author}}
        </article>

      </div>
    </div>
  </div>
{{/post}}

<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
