{{!< default}}

{{#post}}

{{> nav}}

{{#if image}}
  <header class="liz-header post-image {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}};"></header>
{{/if}}

<main class="liz-wrapper" role="main">

  <article class="{{post_class}}">

      <header class="post-header">
        <h2 class="post-title centre">{{title}}</h2>

        <section class="post-meta">
          {{> post-meta}}
        </section>

      </header>

      <section class="post-content">
          {{content}}
      </section>

      <div class="divider"></div>

      <section class="share">
        <h4>Share this post</h4>
        <a class="fa fa-twitter fa-2x" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        </a>
        <a class="fa fa-facebook-square fa-2x" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        </a>
        <a class="fa fa-google-plus fa-2x" href="https://plus.google.com/share?url={{url absolute="true"}}"
           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
        </a>
      </section>

      <div class="divider"></div>

      <section class="disqus">
        <h4>Leave a comment</h4>
        {{> disqus}}
      </section>

      <div class="divider"></div>

      {{#author}}
        <section class="author center">

          <h4>Written by <a href="{{url}}">{{name}}</a></h4>
          <p>Read <a href="{{url}}">more posts</a> by this author.</p>
            {{#if image}}
              <div class="center">
                <a href="{{url}}"><img class="team-img circle" src="{{image}}"></a>
                <!-- <a href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a> -->
              </div>
            {{/if}}

            {{#if bio}}
                <p>{{bio}}</p>
            {{/if}}
            <div class="author-meta">
                {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
            </div>

        </section>
      {{/author}}

</main>

{{/post}}

{{> footer}}
