{{!< default}}

{{#post}}
  {{#if image}}

  {{/if}}

  <div class="grid__wrap">
    <div class="grid">

      <div class="grid__col grid__col--3-of-3">
        <article>
          <header>
            <h1 class="c-heading-section">{{title}}</h1>
            {{> post-meta}}
            <div class="o-sp--unit"></div>
          </header>

          <section class="c-post-content">
            {{ content }}
          </section>

          <div class="divider"></div>

          <section class="share">
            {{> share}}
          </section>

          <section class="disqus">
            {{> disqus}}
          </section>


          {{#author}}
            <section class="u-ta--center">
              {{#if image}}
                  <a href="{{url}}"><img class="author-post-img" src="{{image}}"></a>
              {{/if}}
              <h3 class="author-title">Read more posts by <a href="{{url}}">{{name}}</a></h3>
              {{#if bio}}
                <h4 class="author-bio">{{bio}}</h4>
              {{/if}}
              <div class="author-meta">
                {{#if location}}<span class="author-location"><i class="fa fa-map-marker"></i> {{location}}</span>{{/if}}
                {{#if website}}<a href="{{website}}"><span class="author-link"><i class="fa fa-link"></i> {{website}}</span></a>{{/if}}
              </div>
            </section>
          {{/author}}


        </article>
      </div>

      {{> divider}}
    </div>
  </div>


{{/post}}

<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
